h2 {
    text-align: center !important;
    margin-bottom: 30px !important;
}

.little-blue {
    color: #56baed;
}

.little-red {
    color: #AE3430;
}

table.list-from-db {
    font-size: 20px;
    font-family: Tahoma;
    border: 1px solid black;
    /*margin-left: 15px;*/
}

div.page-wrapper {
    margin: 20px 30px 0 30px;
}

table.list-from-db th, table.list-from-db td {
  border: 1px solid black;
}

table.input-form {
    font-size: 20px;
    font-family: Tahoma;
    margin-top: 20px;
}

.selecttt {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .8em 1.4em .7em .8em; width: 100%;
    min-width: 100px;
    max-width: 200px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .6em;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    }
     .select-css::-ms-expand { display: none; }
     .select-css:hover { border-color: #888; }
     .select-css:focus { border-color: #aaa;
     box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
     box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
     outline: none;
    }
     .select-css option { font-weight:normal; }
     *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
    }
    .a{
        margin-left: 50px;
        margin-top: -380
      }
.atuin-btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #337AB7;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    color: #FFF;
}
.atuin-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
    transition: left 0.7s;
}
.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
    left: 100%;
}
input {
	width: 9em;
	font-size: 25px;
	padding: 5px 0 10px 5px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 10px;
}


* { box-sizing: border-box; }

body {
  margin: 0;
  background: #f2f2f2 !important;
}

header {
  background: white;
  text-align: center;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
.logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
  padding: 15px 30px;
}
.topmenu li a:hover { color: #D5B45B; }

.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }


.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.stl{
 font-size: 20px;
 margin-left: ;
}

div.icon-div {
    background-image:url('/static/icon.png');
    width: 30px;
    height: 30px;
}

.iconn{
    width: 30px;
    height: 30px;
}

.profile{
    margin-left: 30px;
    margin-top: 20px;
}