{% extends "base.html" %}
{% block title%} Личный кабинет {%endblock%}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='lk.css') }}">
<body>
<div class="page-wrapper">
    <h2>Личный кабинет</h2>
    <div class="profile">
        <form action="" method="post" validate>
            {{ form.hidden_tag() }}
            {%if admin%}
            <h3>Привет, {{name}}</h3>
            {%else%}
            <h3>Привет, {{name[0]}} <br>Школа, класс: {{name[1]}}</h3>
            {%endif%}
            {%if a%}

            <h4 class="little-blue">Ваш email: {{email}}<br></h4>
            <h4><br>Изменить эл. почту</h4>
            <p>
                {{ form.email(size=64, placeholder="Введите ваш email",  type="email") }}
                {{ form.submit(value="Изменить") }}
            </p>

            {%else%}
            <h4 class="little-red">Вы еще не привязали email</h4>

            <h4><br>Добавить эл. почту</h4>
            <p>
                {{ form.email(size=64, placeholder="Введите ваш email", type="email") }}
                {{ form.submit(value="Добавить") }}
            </p>
            {%endif%}


        <br>
        </form>

        {%if a%}
        <form action="" method="post" novalidate>
        <p>
            {{ form.submit2(value="Поменять пароль") }}
        </p>
        </form>
        {%endif%}

    </div>

&#8291;<p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
    &#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
    &#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
</div>

<script>document.getElementById("lk").classList.add('active');</script>
</body>
{% endblock %}

