{% extends "base.html" %}
{% block title%} Рапсисание {%endblock%}
{% block content %}
    <h1></h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label style="font-size: 25px; margin-left:25px; margin-top:15px">Класс</label>
        <p style="margin-left:25px">{{form.class_list(class="selecttt")}} {{ form.submit2(value="Далее") }}</p>

    </form>
{% endblock %}
{% block footer %}
<p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p>{%endblock%}

