{% extends "base.html" %}
{%block content%}
    {%if admin%}
        <h1>Данные для админа Логин: {{u_id}}, Пароль: {{name}} <a href="/add_admin"> ОК</a></h1>
    {%else%}
    {%if xls%}
        {%for i in a%}
            <h1>Данные для {{i[0]}} Логин: {{i[1]}}, Пароль: {{i[2]}}</h1>
        {%endfor%}
        <h1><a href="/add_student"> ОК</a></h1>
    {%else%}



<h1>Данные для {{b[0]}} {{ b[1]}} {{ b[2]}}<br> Логин: {{u_id}}, Пароль: {{name}}<a href="/add_student"> ОК</a><br><font color="red"> ПАРОЛЬ ПОТОМ НЕЛЬЗЯ БУДЕТ ПОСМОТРЕТЬ</font></h1>
    {%endif%}
    {%endif%}
{%endblock%}
{% block footer %}<p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
{%endblock%}