{% extends "base.html" %}
{% block title%} Добавить в группу {%endblock%}
<link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
{% block content %}
<div class="page-wrapper">
    <a name="anchor15"></a>
    <h2>Таблица групп, в которых состоят ученики
        <a  href="#anchor8">
            <span data-toggle="tooltip"
                  data-placement="top" title="Прокрутить в конец таблицы">
                <img src="static/chevron-bottom-8x.png" style="width: 32px; height: 32px;"></img>
            </span>
        </a></h2>
    <table class="list-from-db table table-striped table-sm" cellpadding="2" style="font-size : 20px; font-family : Tahoma; width: 45%;">

            <tr class="table-secondary">
                    <th>Ученик</th>
                    <th>Группа</th>
                </tr>
                {%for row in rows%}
                    <tr>
                    {% set row1 = row[1].split(',') %}
                    {%for word in row1%}
                        <td>{{word}}</td>
                    {%endfor%}
                    </tr>
                {%endfor%}
            </table>


    <div class="school">
        <form action="" method="post" novalidate>
            <a name="anchor8"></a>
            {{ form.hidden_tag() }}
            <h4>Добавить ученика(ов) в группу
                <a  href="#anchor15">
                <span data-toggle="tooltip"
                      data-placement="top" title="Прокрутить в начало таблицы">
                    <img src="static/chevron-top-8x.png" style="width: 32px; height: 32px;"></img>
                </span>
                </a>
            </h4>
            <label style="font-size: 25px">Класс</label>
            <p>{{form.class_list(class="selecttt")}} {{ form.submit2(value="Далее") }}</p>
            <p></p>
            <hr style="margin-bottom:20px; margin-top:20px">
            <h4>Удалить ученика из группы</h4>
            <label style="font-size: 25px">Ученик, группа</label>
            <p>{{form.group_list(class="selecttt")}} {{ form.submit(value="Удалить") }}</p>
        </form>
    </div>
{% endblock %}
{% block footer %}<p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p><p>
&#8291;</p>{%endblock%}
</div>